In [1]:
import numpy as np
import pandas as pd

In [3]:
arr1 = np.arange(1, 10)
arr1

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
myarr = np.random.randint(10, 20, (1, 10))

In [19]:
myarr =  myarr * 1000
myarr

array([[11000, 10000, 10000, 11000, 15000, 14000, 16000, 12000, 19000,
        19000]])

In [46]:
data = {
    'salary range' : [ 'Rs.20000/-', 'Rs.40000/-', 'Rs.80000/-' ]
}

In [47]:
df = pd.DataFrame(data)

In [48]:
df['salary range']

0    Rs.20000/-
1    Rs.40000/-
2    Rs.80000/-
Name: salary range, dtype: object

In [51]:
s = 'Rs.20000/-'

In [54]:
s[3:].strip('/-')

'20000'

In [57]:
df['salary range'] = df['salary range'].apply( lambda r : int(r[3:].strip('/-')) )

In [58]:
df

   salary range
0         20000
1         40000
2         80000